/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: white;
    color: white;
  }
  
  .navbar-hamburger {
    font-size: 1.5rem;
    cursor: pointer;

  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .2s;
  }
  .navbar-links a:hover {
    text-decoration: underline;
    color: var(--blue)
  }
  /* kleine schermen */
  @media (max-width: 768px) {
   
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: white;
    }
  
    .navbar-links.open {
      display: flex;
      padding: 1em;
    }
    
    .navbar-hamburger {
      display: block;
      font-size: 40px;
      margin: -25px -10px -10px 0;
      color: black;
    }
  }
  
 
  @media (min-width: 769px) {
    .navbar-hamburger {
      display: none;
    }
  
    .navbar-links {
      gap: 5em;
      flex: 1; /* Neem de rest van de ruimte in beslag */
      justify-content: center; /* Centreer de links */
    }
  }
  